.navbar {
    background: #4DD0E1;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-toggler {
    border: none;
}

.btn {
    background: #DADADA;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 67px;
    color: #9B9B9B;
}

#entrada .btn:not(:disabled):not(.disabled):active,
.show>#entrada .bt.dropdown-toggle {
    color: #fff;
    background-color: #28DD91;
    border-color: #28DD91;
}

#entrada .btn:hover {
    background: #28DD91;
}

#saida .btn:not(:disabled):not(.disabled):active,
.show>#saida .bt.dropdown-toggle {
    color: #fff;
    background-color: #A769B2;
    border-color: #A769B2;
}

#saida .btn:hover {
    background: #A769B2;
}

.form-control {
    background: #FFFBE6;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 67px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #9B9B9B;
}

label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #9B9B9B;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #4DD0E1;
    border-bottom: 3px solid #4DD0E1;
}

.nav-tabs .nav-link {
    border: none;
    /* border-top-left-radius: .25rem; */
    /* border-top-right-radius: .25rem; */
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #9B9B9B;
    width: 50%;
}

.nav-tabs {
    border-bottom: none;
    margin-top: 2rem;
}

form {
    margin-top: 2rem;
}